html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(98, 98, 98, 0.53);
}
.welcome-page {
    background-image: url("https://www.qualtrics.com/m/assets/blog/wp-content/uploads/2018/08/shutterstock_1068141515.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-color: #464dc0;
}
.navbar {
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1;
}
.navbar-brand {
    margin-left: 5%;
}
.nav-item  {
    align: center;
}
.content-1 {
    margin-top: 5%;
    margin-bottom: 30%;
    z-index: 3;
    width: 100%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.nav {
    width: 100%;
}
.welcome {
    color: #f3f3f3;
    border-radius: 4em;
    margin-top: 30%;
    padding-top: 4%;
    background-color: rgba(27, 82, 100, 0.38);
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 10px;
}
.dashboard {
    margin-top: 100px;
    margin-bottom: 5%;
    height: 500px;
    /*max-height: 500px;*/
}
.dashboard-content {
    color: black;
}

#add-book {
    font-size: .9em;
    margin-bottom: 3%;
}

#dashboard {
    height: 900px;
}

.pagination {
    font-size: .9em;
}
.page-item {
    z-index: 0;
}

