<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Supermercado+One&display=swap" rel="stylesheet">
    <style>
        .container {
            margin-top: 10px;
        }
        .container .box {
            margin-top: 30px;
            text-align: center;
        }
        .container .img {
            margin-left: auto;
            margin-right: auto;
            background-position: center;
            background-image: url("https://inews.co.uk/images-i.jpimedia.uk/imagefetch/https://inews.co.uk/wp-content/uploads/2019/10/shutterstock_1479789158.jpg?width=640");
            background-repeat: no-repeat;
            width: 50%;
            height: 100px;
        }
        h1 {
            font-family: 'Supermercado One', cursive;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="img">
        </div>
        <div class="box">
            <h1>ทดสอบการใช้งาน</h1>
            <h1>{{MESSAGE}}</h1>
        </div>
    </div>
</body>
</html>